
rich
wandb
glob2
h5py
omegaconf
matplotlib
imageio
imageio-ffmpeg
torch
torch-summary
torchfile
torchmetrics
torchvision
transformers
accelerate
albumentations
chumpy
cmake
coloredlogs
colorlog
cython
diffusers
easydict
einops
lpips

opencv-python
optuna
pandas
protobuf
pyopengl
pytorch-fid
pytorch-lightning
pytorch-metric-learning
scikit-image
scikit-learn
scipy

tensorboard
tensorboardx

facenet-pytorch==2.5.3

scikit-image 
face-alignment

hydra-core